@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; }
i { user-select: none; }

:root {
    --color0: #2ECC71;
    --color1: #54D66A;
    --color2: #73ED68;
    --color3: #FFFFFF;
    --color4: #DBDBDB;
    --color5: #0D0D0D;
    --color6: #FF0000;

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
}

[data-open-target="create-new-post"] { font-size: 2rem; font-weight: bold; padding: 10px; margin: 10px; border-radius: 10px; border: none; box-shadow: 10px 10px var(--color0); cursor: pointer; position: fixed; bottom: 10px; right: 10px; z-index: 1; }

[data-wrapper="create-new-post"] { position: fixed; top: 0; background-color: #0d0d0db0; min-height: 100vh; width: 100vw; z-index: 1; display: flex; justify-content: center; align-items: center; }

[data-content="create-new-post"] h1 { color: black; }

[data-content="create-new-post"] { background-color: white; width: 70vw; min-height: 60vh; display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 10px; border-radius: 10px 50px; position: relative; overflow: hidden auto; }

[data-target-close="create-new-post"] { position: absolute; right: 25px; top: 25px; font-size: 2.5rem !important; color: black; transition: color 200ms; }

[data-target-close="create-new-post"]:hover { color: var(--color6); cursor: pointer }

[data-new-post] {
    max-width: 100%;
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    border: 2.5px solid var(--color0);
    margin: 10px;
    font-size: 1.2rem;
}

.new-post-text-area {
    max-width: 100%;
}

.new-post-text-area:not([data-new-post-details="description-char-length"]) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-post-text-area [data-new-post="description"] { min-height: 150px; max-height: 500px; max-width: 75%; min-width: 50%; }

.new-post-text-area [data-new-post-details="description-char-length"] { color: var(--color5); padding: 10px; text-align: right; }

.new-post-text-area .almostLimit { color: red; }

[data-button="create-new-post"] { max-width: 100%; width: 250px; padding: 10px; font-size: 1rem; font-weight: bold; border-radius: 10px; border: none; background-color: var(--color0); color: white; cursor: pointer; transition: transform 200ms; }
[data-button="create-new-post"]:active { transform: scale(.95); }

header { padding: 10px; text-align: center; }

h1 {
    color: white;
    font-size: 3rem;
    text-align: center;
    cursor: pointer;
}

span {
    color: white;
    font-size: 1.5rem;
}

body {
    background-color: var(--color1);
    display: flex;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.posts-wrapper {
    background-color: var(--color2);
    width: 90vw;
    min-height: 80vh;
    border-radius: 10px;
    box-shadow: 15px 15px 15px var(--color0);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    max-width: 100%;
    width: 900px;
    background-color: var(--color3);
    margin: 10px;
    border-radius: 10px;
    padding: 25px;
    min-height: 540px;
    overflow: hidden;
    box-shadow: 8px 8px var(--color1);
    position: relative;
}

.post-header {
    display: flex;
    align-items: center;
}

.post-title {
    font-size: 2.5rem;
}

.post-id {
    color: var(--color4);
    font-weight: normal;
    font-size: 1rem;
    margin: 0px 0px 0px 10px
}

.post-description {
    font-size: 1.3rem;
    max-width: 100%;
    width: 750px;
    word-wrap: break-word;
    hyphens: auto;
}

.post-statistics {
    list-style-type: none;
    display: flex;
    justify-content: end;
}

.post-statistics li {
    margin: 10px;
}

.comments-section {
    border: 2.5px solid var(--color2);
    border-radius: 10px;
    padding: 10px;
}

.comments-sectiont-title {
    font-size: 1.7rem;
}

.comments-not-found {
    color: #5f5f5f;
    font-size: 1.5rem;
}

.commentary {
    margin: 15px;
}

.commentary .posted-by span {
    color: #5f5f5f;
    font-size: inherit;
}

.commentary .user-comment-post-id {
    font-size: 1rem;
    color: #969696cb;
}

.commentary .user-commentary {
    font-size: 1.3rem;
}

.post-avaliations {
    position: relative;
    bottom: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.post-avaliations .input {
    margin: 5px;
}

.post-avaliations input[type="text"] {
    max-width: 100%;
    width: 500px;
    padding: 15px;
    font-size: 1rem;
    border: 2.5px solid var(--color1);
    border-radius: 5px;
}

.post-avaliations input[type="text"]:focus {
    outline: 1px red;
}

.post-avaliations [data-js="add-comment"] {
    border-radius: 50%;
    border: none;
    background-color: var(--color1);
    color: white;
    padding: 10px;
    cursor: pointer;
}

@media screen and (min-width: 1400px) {
    h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 1100px) {

    .posts-wrapper {
        padding: 30px;
    }
}

@media screen and (max-width: 800px) {

    .post {
        min-height: 610px;
    }

    .commentary {
        margin: 0;
        padding: 2px;
    }

    .posted-by {
        word-wrap: break-word;
    }

    .user-commentary {
        word-wrap: break-word;
    }

    .post-avaliations {
        display: flex;
        flex-direction: column;
        position: relative;

    }
}

@media screen and (max-width: 600px) {

    [data-js="create-new-topic"] { font-size: 1.5rem }

    .post {
        word-break: break-all;
    }

    .post-header {
        flex-direction: column;
        margin: 10px;
    }

    .post-header .post-title {
        font-size: 1.5rem;
    }
    
    .post-header .post-id {
        margin: 0;
    }

    .post-statistics {
        word-break: break-all;
    }

    h1 {
        font-size: 1.5rem;
    }

    [data-content="create-new-post"] i { font-size: 1.5rem !important; top: 15px; }
}